// theme 1
$mainBackground1: hsl(222, 26%, 31%);
$toggleBackground1: hsl(223, 31%, 20%);
$screenColor1: hsl(224, 36%, 15%);

    // keys
$keyBgRD1: hsl(225, 21%, 49%);
$keyShadowRD_1:hsl(224, 28%, 35%);
$toggle1:hsl(6, 63%, 50%);
$keyShadowE_1: hsl(6, 70%, 34%);
$keyBgNum_1: hsl(30, 25%, 89%);
$keyShadowNum_1 : hsl(28, 16%, 65%);

    // text
$textNum1:  hsl(221, 14%, 31%);
$white: hsl(0, 0, 100%);



// theme 2
$mainBackground2:hsl(0, 0%, 90%) ;
$toggleBackground2:hsl(0, 5%, 81%);
$screenColor2: hsl(0, 0%, 93%);

    // keys
$keyBgRD2:hsl(185, 42%, 37%);
$keyShadowRD_2:hsl(185, 58%, 25%);
$toggle2:hsl(25, 98%, 40%);
$keyShadowE_2: hsl(25, 99%, 27%);
$keyBgNum_2:  hsl(45, 7%, 89%);
$keyShadowNum_2 : hsl(35, 11%, 61%);


    // text
$textNum2 :  hsl(35, 11%, 61%);



// theme 3
$mainBackground3:hsl(268, 75%, 9%);
$toggleBackground3:hsl(268, 71%, 12%);
$screenColor3: hsl(268, 71%, 12%);

    // keys
$keyBgRD3: hsl(281, 89%, 26%);
$keyShadowRD_3:hsl(285, 91%, 52%);
$toggle3:hsl(176, 100%, 44%);
$keyShadowE_3: hsl(177, 92%, 70%);
$keyBgNum_3:hsl(268, 47%, 21%) ;
$keyShadowNum_3 : hsl(290, 70%, 36%);

    // text
$textNum3:  hsl(52, 100%, 62%);

$textEq : hsl(198, 20%, 13%);
