@import "variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition:1s;
  & .error{
       position: absolute;
       top: 2rem; 
       color: $toggle1;
       background: white;
       padding:0.5rem 1rem;
       border-radius: 50px;

  }
}
.container {
  width: 90%;
  max-width: 20rem;
  transition: all 1s;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
    transition: all 1s;

  &__logo {
    font-size: 1.5rem;
  }
  &__toggleBtn {
    height: 1.5rem;
    padding: 0 0.1rem;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    & .toggle {
      position: relative;
      height: 1rem;
      width: 1rem;
      background: transparent;
      border: none;
      border-radius: 50%;
      outline: none;
      &::before{
         content:  attr(data-content);
        position: relative;
        font-size: 0.5rem;
        top: -1.25rem;
        
      }
    
    }
    &::before{
        content: 'Theme';
        position: absolute;
        font-size: 0.5rem;
        text-transform: uppercase;
        left: -2.5rem;
        top: 6px;

    }
    
  }
}

.screen{
    input{
        height: 4rem;
        width: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1.5rem;
        text-align: right;
        padding: 0 5%;
    }
    
    
}
.keypad{
    
    border-radius: 5px;
    margin-top: 1rem;
    padding:1rem;
    .grid{
        margin: 0 auto;
        width: 100%;
        display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    }
    .grid-last{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        .btn{
            width: 100% ;
            max-width: none;

        }
    }
    .btn{
        height: 2.25rem;
        width: 90%;
        max-width: 3.5rem;
        justify-self: center;
        border-radius:5px;
        border: none;
        font-size: 1.25rem;
    }
    .btn_rd{
        font-size: 0.75rem;
    }
    #mult{
        padding-top: 0.75rem;
    }
}



// themes
body.theme1 {
  background: $mainBackground1;
  .nav {
    &__logo {
      color: $white;
    }
    &__toggleBtn {
      background: $toggleBackground1;
        &::before{
            color: $white;
        }
        .toggle::before{
            color: $white;
        }
      & .active {
        background: $toggle1;
      }
    }
  }
.screen input{
    background: $screenColor1;
    color: $white;
}
.keypad{
    background: $toggleBackground1;
.btn{
    background: $keyBgNum_1;
    color: $textNum1;
     border-bottom: 3px solid $keyShadowNum_1;

}
.btn_rd{
     background: $keyBgRD1;
    color: $white;
     border-bottom: 3px solid $keyShadowRD_1;

}
.btn_eq{
    background: $toggle1;
    color: $white;
     border-bottom: 3px solid $keyShadowE_1;
}
}



}
body.theme2 {
  background: $mainBackground2;
  .nav {
    &__logo {
      color: $textEq;
    }
    &__toggleBtn {
      background: $toggleBackground2;
        &::before{
            color: $textEq;
        }
        .toggle::before{
            color: $textEq;
        }
      & .active {
        background: $toggle2;
      }
    }
  }
.screen input{
    background: $screenColor2;
    color: $textEq;
}
.keypad{
    background: $toggleBackground2;
.btn{
    background: $keyBgNum_2;
    color: $textEq;
     border-bottom: 3px solid $keyShadowNum_2;

}
.btn_rd{
     background: $keyBgRD2;
    color: $white;
     border-bottom: 3px solid $keyShadowRD_2;
}
.btn_eq{
    background: $toggle2;
    color: $white;
     border-bottom: 3px solid $keyShadowE_2;
}
}

}
body.theme3 {
  background: $mainBackground3;
  .nav {
    &__logo {
      color: $textNum3;
    }
    &__toggleBtn {
      background: $toggleBackground3;
        &::before{
            color: $textNum3;
        }
        .toggle::before{
            color: $textNum3;
        }
      & .active {
        background: $toggle3;
      }
    }
  }
.screen input{
    background: $screenColor3;
    color: $textNum3;
}
.keypad{
    background: $toggleBackground3;
.btn{
    background: $keyBgNum_3;
    color: $textNum3;
     border-bottom: 3px solid $keyShadowNum_3;

}
.btn_rd{
     background: $keyBgRD3;
    color: $white;
     border-bottom: 3px solid $keyShadowRD_3;
}
.btn_eq{
    background: $toggle3;
    color: $textEq;
     border-bottom: 3px solid $keyShadowE_3;
}
}

}

